<div class="center jumbotron">
<h1>Welcome to the Sample App</h1>
	<h2>
		This is the home page for the
		<a href="http://www.railstutorial.org/"> Ruby on Rails Tutorial</a>
		smaple application
	</h2>
	<a class="btn btn-lg btn-primary" href="/signup">Sign up now!</a>
</div>
<a href="http://rubuonrails.org"><img alt="Rails logo" src="/assets/rails.png" > </a>
